@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


body {
    background-color: gray;
    font-family: 'Open Sans', sans-serif;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in; 
    animation-delay: 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.menu{
    background-color: lightgray;
    list-style: none;
    box-shadow: 1px 1px 10px 2px rgb(0, 0, 0,0.3);
    box-sizing: border-box;
    height: 5vh;
    width: 50vw;
    margin-left: auto;
    display: flex;
    align-items:center;
    justify-content: space-around;
    
}

.menu .active {
    color: #807e7a; 
}

.menu li a:hover{
    color: #807e7a;
    font-size: large;
}


.menu li a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}






main{
    display: flex;
    align-items: flex-start; 
    gap: 2rem; 
}

main picture img {
    width: 35vw;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

main section {
    width: 50vw;
}


