@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


body{
    background-color: #F8FAF9;
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}

.menu{
    background-color: lightgray;
    list-style: none;
    box-shadow: 1px 1px 10px 2px rgb(0, 0, 0,0.3);
    box-sizing: border-box;
    height: 5vh;
    width: 50vw;
    margin-left: auto;
    display: flex;
    align-items:center;
    justify-content: space-around;
    border-radius: 20px;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in; 
    animation-delay: 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;


    li{
        a{
            text-decoration: none;
            color: black;
            transition: 0.3s;
        }
        &:hover{
            color: #807e7a;
            font-size: large;    
        }
    }

    &.active{
        color: #807e7a; 
    }
    
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.Name_Title{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
}

footer {

    width: 100%;
    text-align: center;
}



picture{
    display: flex;
    justify-content: center;
    border-radius: 50%;

}

.mainImage{
    width: 300px;
    height: 300px;
    object-fit:cover;
    border-radius: 50%;

}

.navigator{
   display: flex;
   flex-direction: row;
    picture img{
        width: 35px;
        height: 35px;
        padding-top: 10px;
    } 
}



