@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');



body{
    background-color: gray;
    font-family: 'Open Sans', sans-serif;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in; 
    animation-delay: 0s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    margin-left: 50px;
    margin-right: 50px;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.menu{
    background-color: lightgray;
    list-style: none;
    box-shadow: 1px 1px 10px 2px rgb(0, 0, 0,0.3);
    box-sizing: border-box;
    height: 5vh;
    width: 50vw;
    margin-left: auto;
    display: flex;
    align-items:center;
    justify-content: space-around;

    li{
        a{
            text-decoration: none;
            color: black;
            transition: 0.3s;
        }
        &:hover{
            color: #807e7a;
            font-size: large;    
        }
    }

    &.active{
        color: #807e7a; 
    }
    
}

h2{
    position: relative;
    font-size: xx-large;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.leftSide{
    display: flex;
    flex-direction: column;


}

.rightSide{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 5px;
} 
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}